<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buquankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,647},{450,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,230}}</string>
                <key>sourceSize</key>
                <string>{450,230}</string>
            </dict>
            <key>jiesuan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{607,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,453}}</string>
                <key>sourceSize</key>
                <string>{607,453}</string>
            </dict>
            <key>jiesuan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,686},{319,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,106}}</string>
                <key>sourceSize</key>
                <string>{319,106}</string>
            </dict>
            <key>jiesuan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,369},{322,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,65}}</string>
                <key>sourceSize</key>
                <string>{322,65}</string>
            </dict>
            <key>jiesuan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,436},{320,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,65}}</string>
                <key>sourceSize</key>
                <string>{320,65}</string>
            </dict>
            <key>jiesuan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,457},{140,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,227}}</string>
                <key>sourceSize</key>
                <string>{140,227}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{386,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,198}}</string>
                <key>sourceSize</key>
                <string>{386,198}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,503},{276,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,80}}</string>
                <key>sourceSize</key>
                <string>{276,80}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,2},{133,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,18}}</string>
                <key>sourceSize</key>
                <string>{133,18}</string>
            </dict>
            <key>shenglichong.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,686},{113,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,107}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>shibaichong.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,503},{93,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,67}}</string>
                <key>sourceSize</key>
                <string>{93,67}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,369},{276,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,82}}</string>
                <key>sourceSize</key>
                <string>{276,82}</string>
            </dict>
            <key>ziliaokuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{468,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,308}}</string>
                <key>sourceSize</key>
                <string>{468,308}</string>
            </dict>
            <key>ziliaokuang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,202},{386,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,165}}</string>
                <key>sourceSize</key>
                <string>{386,165}</string>
            </dict>
            <key>ziliaokuang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{413,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,44}}</string>
                <key>sourceSize</key>
                <string>{413,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfcd7d51933de346d1607c17f433d077$</string>
            <key>textureFileName</key>
            <string>common3.png</string>
        </dict>
    </dict>
</plist>
