<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{42,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{42,28}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>2fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,825},{44,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{44,28}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>3fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,804},{44,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{44,28}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>action_reselect_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,663},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>action_reselect_card_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,637},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>action_reselect_card_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,617},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>avatar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,68},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>be_lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,175},{72,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{72,28}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>bg_shumu .png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,480}}</string>
                <key>sourceSize</key>
                <string>{19,480}</string>
            </dict>
            <key>btn_1fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,577},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_1fen_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_1fen_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,653},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_2fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_2fen_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,593},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_2fen_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,534},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_3fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,517},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_3fen_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,488},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_3fen_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,457},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_buchu_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,533},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_buchu_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,473},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_bujiao_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_bujiao_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,413},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_cancel_delegate.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,136},{130,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,64}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>btn_chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,405},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_chupai_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,397},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_chupai_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,353},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_desk_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,293},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_tip_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_tip_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,276},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,233},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>btn_zb_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,147},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,205},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,71}}</string>
                <key>sourceSize</key>
                <string>{61,71}</string>
            </dict>
            <key>diaotian02-a.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,713},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>diaotian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,444},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>info_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,756},{48,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{48,28}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>info_bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{48,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{48,28}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>jiesuan06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{136,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,41}}</string>
                <key>sourceSize</key>
                <string>{136,41}</string>
            </dict>
            <key>jiesuan06_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,190},{136,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,41}}</string>
                <key>sourceSize</key>
                <string>{136,41}</string>
            </dict>
            <key>jiesuan07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{136,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,41}}</string>
                <key>sourceSize</key>
                <string>{136,41}</string>
            </dict>
            <key>jiesuan07_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,354},{136,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,41}}</string>
                <key>sourceSize</key>
                <string>{136,41}</string>
            </dict>
            <key>jiesuan08.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,311},{136,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,41}}</string>
                <key>sourceSize</key>
                <string>{136,41}</string>
            </dict>
            <key>jiesuan08_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,268},{136,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,41}}</string>
                <key>sourceSize</key>
                <string>{136,41}</string>
            </dict>
            <key>jiesuan09.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,147},{136,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,41}}</string>
                <key>sourceSize</key>
                <string>{136,41}</string>
            </dict>
            <key>jiesuan09_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{136,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,41}}</string>
                <key>sourceSize</key>
                <string>{136,41}</string>
            </dict>
            <key>poke_bg_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,795},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>poke_bg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>prepare_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,757},{48,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{48,28}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>request_lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,145},{72,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{72,28}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>role_farmer.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,758},{37,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{37,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>role_lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,397},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>shengzi_you _a .png</key>
            <dict>
                <key>frame</key>
                <string>{{338,272},{9,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,122}}</string>
                <key>sourceSize</key>
                <string>{9,122}</string>
            </dict>
            <key>shengzi_you _b .png</key>
            <dict>
                <key>frame</key>
                <string>{{338,147},{9,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,123}}</string>
                <key>sourceSize</key>
                <string>{9,123}</string>
            </dict>
            <key>shenzi_zuo_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{9,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,355}}</string>
                <key>sourceSize</key>
                <string>{9,355}</string>
            </dict>
            <key>shenzi_zuo_b .png</key>
            <dict>
                <key>frame</key>
                <string>{{499,145},{9,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,290}}</string>
                <key>sourceSize</key>
                <string>{9,290}</string>
            </dict>
            <key>shezi-a.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,713},{56,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,43}}</string>
                <key>sourceSize</key>
                <string>{56,43}</string>
            </dict>
            <key>shezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,23},{56,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,43}}</string>
                <key>sourceSize</key>
                <string>{56,43}</string>
            </dict>
            <key>top_panel_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,23},{422,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,111}}</string>
                <key>sourceSize</key>
                <string>{422,111}</string>
            </dict>
            <key>top_panel_delegate.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,786},{42,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>top_panel_delegate_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{42,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>top_panel_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,787},{44,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>top_panel_exit_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,758},{44,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gaming.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1138e860ed5be0facfc33a29b53443ff$</string>
            <key>textureFileName</key>
            <string>gaming.png</string>
        </dict>
    </dict>
</plist>
