<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beans.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,409},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>btn_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,683},{116,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,46}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
            <key>btn_data_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,715},{116,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,46}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
            <key>btn_feedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,900},{116,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,46}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
            <key>btn_feedback_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,900},{116,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,46}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,801},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>btn_menu_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,150},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>btn_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,557},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>btn_prop_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,431},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>btn_quick_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{224,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,57}}</string>
                <key>sourceSize</key>
                <string>{224,57}</string>
            </dict>
            <key>btn_quick_game_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{224,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,57}}</string>
                <key>sourceSize</key>
                <string>{224,57}</string>
            </dict>
            <key>btn_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,283},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>btn_store_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,228},{124,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,53}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>daoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,573},{140,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,46}}</string>
                <key>sourceSize</key>
                <string>{140,46}</string>
            </dict>
            <key>daoju_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,431},{140,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,46}}</string>
                <key>sourceSize</key>
                <string>{140,46}</string>
            </dict>
            <key>dashi.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,283},{146,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,47}}</string>
                <key>sourceSize</key>
                <string>{146,47}</string>
            </dict>
            <key>fangjian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,752},{231,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,226}}</string>
                <key>sourceSize</key>
                <string>{231,226}</string>
            </dict>
            <key>fangjian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,752},{231,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,226}}</string>
                <key>sourceSize</key>
                <string>{231,226}</string>
            </dict>
            <key>fangjian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,524},{231,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,226}}</string>
                <key>sourceSize</key>
                <string>{231,226}</string>
            </dict>
            <key>fangjian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,524},{231,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,226}}</string>
                <key>sourceSize</key>
                <string>{231,226}</string>
            </dict>
            <key>fangjian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,296},{231,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,226}}</string>
                <key>sourceSize</key>
                <string>{231,226}</string>
            </dict>
            <key>fangjian06.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,296},{231,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,226}}</string>
                <key>sourceSize</key>
                <string>{231,226}</string>
            </dict>
            <key>gaoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,752},{146,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,47}}</string>
                <key>sourceSize</key>
                <string>{146,47}</string>
            </dict>
            <key>hall_bg_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,292}}</string>
                <key>sourceSize</key>
                <string>{800,292}</string>
            </dict>
            <key>libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,833},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>pai_fangkuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,150},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>pai_heitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,666},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>pai_hongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,409},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>pai_meihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>qj_you.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{316,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,368}}</string>
                <key>sourceSize</key>
                <string>{316,368}</string>
            </dict>
            <key>qj_zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{404,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,368}}</string>
                <key>sourceSize</key>
                <string>{404,368}</string>
            </dict>
            <key>qj_zuo_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,225},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>xinshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,2},{146,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,47}}</string>
                <key>sourceSize</key>
                <string>{146,47}</string>
            </dict>
            <key>zhongshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{146,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,47}}</string>
                <key>sourceSize</key>
                <string>{146,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f583adf5e4692bf51c4c801c8845b472$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
