<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_confirm_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{418,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,41}}</string>
                <key>sourceSize</key>
                <string>{418,41}</string>
            </dict>
            <key>btn_confirm_change_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{418,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,41}}</string>
                <key>sourceSize</key>
                <string>{418,41}</string>
            </dict>
            <key>daoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,871},{140,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,46}}</string>
                <key>sourceSize</key>
                <string>{140,46}</string>
            </dict>
            <key>daoju_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,871},{140,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,46}}</string>
                <key>sourceSize</key>
                <string>{140,46}</string>
            </dict>
            <key>genghuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,823},{140,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,46}}</string>
                <key>sourceSize</key>
                <string>{140,46}</string>
            </dict>
            <key>genghuan_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,823},{140,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,46}}</string>
                <key>sourceSize</key>
                <string>{140,46}</string>
            </dict>
            <key>kuang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{572,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,454}}</string>
                <key>sourceSize</key>
                <string>{572,454}</string>
            </dict>
            <key>touxiang00_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,919},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang00_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,919},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,919},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,919},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,721},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,721},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,721},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,619},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang50.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,619},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang52.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,619},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>upload_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,889},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>xiugai.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,747},{140,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,46}}</string>
                <key>sourceSize</key>
                <string>{140,46}</string>
            </dict>
            <key>xiugai_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,422},{140,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,46}}</string>
                <key>sourceSize</key>
                <string>{140,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>info.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faa919d8dae6648be36e2904eadaefd1$</string>
            <key>textureFileName</key>
            <string>info.png</string>
        </dict>
    </dict>
</plist>
