<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,659},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,659},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>a03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,929},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>a04.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,826},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>a05.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,723},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>a06.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,620},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>a07.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,586},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>a08.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,586},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>a09.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,929},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>a10.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,826},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>a11.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,723},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>a12.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,620},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>a13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,723},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>b03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>b04.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,517},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>b05.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,513},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>b06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,513},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>b07.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,513},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>b08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>b09.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,440},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,440},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,440},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,414},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>c01.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,367},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>c02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,367},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>c03.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,367},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>c04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>c05.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,311},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>c06.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,294},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>c07.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,294},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>c08.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,294},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>c09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,221},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,221},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,221},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,208},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>d02.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,148},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>d03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,148},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>d04.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,148},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>d05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>d06.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,105},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>d07.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,75},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>d08.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,75},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>d09.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,75},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>d10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>d11.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>d12.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>d13.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>w01.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>w02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poke_cards.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b536b9838e06348115b62ced55b147d5$</string>
            <key>textureFileName</key>
            <string>poke_cards.png</string>
        </dict>
    </dict>
</plist>
