<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cue_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{344,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,59}}</string>
                <key>sourceSize</key>
                <string>{344,59}</string>
            </dict>
            <key>keystoke_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,60},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>keystoke_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,17}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{227,17}}</string>
                <key>sourceSize</key>
                <string>{227,29}</string>
            </dict>
            <key>load01.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,381},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>load02.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,315},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>load03.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,315},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>load04.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,249},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>load05.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,249},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>load06.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,447},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>load07.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,183},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>load08.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,183},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>load09.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,117},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>load10.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,117},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>loudspeaker_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>loudspeaker_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,21},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,21},{96,94}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sina.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,21},{96,94}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialogs.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88438893ffbc039be896f6b48296c777$</string>
            <key>textureFileName</key>
            <string>dialogs.png</string>
        </dict>
    </dict>
</plist>
