<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game41.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,416},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{29,37}}</string>
                <key>sourceSize</key>
                <string>{31,43}</string>
            </dict>
            <key>game42.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,377},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{29,37}}</string>
                <key>sourceSize</key>
                <string>{31,43}</string>
            </dict>
            <key>pbf_l_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,414},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>pbf_l_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,333},{57,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{57,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>pbf_l_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>pbf_l_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,274},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>pbf_l_BIG_JOKER.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{84,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{84,120}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>pbf_l_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{82,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{82,120}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>pbf_l_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,124},{82,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{82,120}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>pbf_l_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,246},{80,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{80,120}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>pbf_l_SMALL_JOKER.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{84,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{84,120}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>poke_bg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>psf_BIG_JOKER.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,392},{44,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{44,60}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>psf_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{42,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{42,62}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>psf_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{42,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{42,62}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>psf_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{42,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{42,62}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>psf_SMALL_JOKER.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,368},{44,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{44,60}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>psf_l_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,106},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>psf_l_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,156},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>psf_l_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,80},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>psf_l_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,132},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>pv_l_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,41},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,473},{18,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,473},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,473},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,473},{18,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,473},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,473},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,407},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_b_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,299},{22,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_b_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,473},{16,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{16,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_b_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,338},{20,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_b_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,219},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,39}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_r_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,368},{18,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,377},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,299},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,260},{18,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,221},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,182},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,143},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,104},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_r_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,260},{22,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_r_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,473},{16,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{16,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_r_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,338},{20,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,37}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>pv_l_r_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,178},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,39}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pokecards.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43af46165193835975694c3043002918:3b407888a1b6e14a190d2f5c35d4e297:e035767be2aeb82c3a762bbefc9e393d$</string>
            <key>textureFileName</key>
            <string>pokecards.png</string>
        </dict>
    </dict>
</plist>
