<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>channel</key>
        <string>test360</string>
        <key>appkey</key>
        <string>D4DB1295EA1B3298DD256AF4BEBCFC0C</string>
    </dict>
</plist>
