<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,573},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>bg_hall_friendList.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,640},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bg_hall_friendList_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,16},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>bg_hall_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,560},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>bg_hall_inputArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>bg_hall_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,444},{22,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,114}}</string>
                <key>sourceSize</key>
                <string>{22,116}</string>
            </dict>
            <key>bg_hall_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,605},{417,76}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,76}}</string>
                <key>sourceSize</key>
                <string>{425,76}</string>
            </dict>
            <key>bg_idImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,517},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>bg_item_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,929},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>bg_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,345},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{160,160}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>bg_panel_tb.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,270},{162,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,73}}</string>
                <key>sourceSize</key>
                <string>{162,73}</string>
            </dict>
            <key>bg_subUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{772,388}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{772,388}}</string>
                <key>sourceSize</key>
                <string>{800,416}</string>
            </dict>
            <key>bg_tab_blur_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,712},{75,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,66}}</string>
                <key>sourceSize</key>
                <string>{75,66}</string>
            </dict>
            <key>bg_tab_blur_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,885},{115,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,42}}</string>
                <key>sourceSize</key>
                <string>{115,44}</string>
            </dict>
            <key>bg_tab_focus_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,929},{75,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
            <key>bg_tab_focus_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,885},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>bg_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,366}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,114},{800,366}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>bg_table_topLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,242},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bg_uiTop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{800,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,72}}</string>
                <key>sourceSize</key>
                <string>{800,76}</string>
            </dict>
            <key>bg_uiTop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{404,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{404,78}}</string>
                <key>sourceSize</key>
                <string>{406,78}</string>
            </dict>
            <key>num_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,242},{190,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,26}}</string>
                <key>sourceSize</key>
                <string>{190,26}</string>
            </dict>
            <key>num_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,270},{243,22}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,22}}</string>
                <key>sourceSize</key>
                <string>{253,22}</string>
            </dict>
            <key>num_victory.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,268},{247,22}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,22}}</string>
                <key>sourceSize</key>
                <string>{253,22}</string>
            </dict>
            <key>paint_farmar_default_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,605},{94,138}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{94,138}}</string>
                <key>sourceSize</key>
                <string>{100,162}</string>
            </dict>
            <key>paint_farmar_default_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,745},{93,138}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{93,138}}</string>
                <key>sourceSize</key>
                <string>{99,162}</string>
            </dict>
            <key>paint_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{204,238}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{204,238}}</string>
                <key>sourceSize</key>
                <string>{206,240}</string>
            </dict>
            <key>paint_lord_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,507},{96,160}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{100,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bgs.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:307e1a26e1b138b286c767983cc31aa6:1/1$</string>
            <key>textureFileName</key>
            <string>bgs.png</string>
        </dict>
    </dict>
</plist>
