<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,788},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_back_pr.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,270},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_blue_l_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,170},{184,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,54}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>btn_blue_l_pr.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,114},{184,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,54}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>btn_blue_m_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,385},{154,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,45}}</string>
                <key>sourceSize</key>
                <string>{154,45}</string>
            </dict>
            <key>btn_blue_m_pr.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,338},{154,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,45}}</string>
                <key>sourceSize</key>
                <string>{154,45}</string>
            </dict>
            <key>btn_blue_s_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,488},{122,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,54}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>btn_blue_s_pr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{122,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,54}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>btn_blue_xl_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{244,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,72}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>btn_blue_xl_pr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{244,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,74}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>btn_blue_xxl_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{288,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,84}}</string>
                <key>sourceSize</key>
                <string>{288,84}</string>
            </dict>
            <key>btn_blue_xxl_pr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,84}}</string>
                <key>sourceSize</key>
                <string>{288,84}</string>
            </dict>
            <key>btn_close_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{60,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_close_pr.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,880},{60,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_green_l_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,58},{184,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,54}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>btn_green_l_pr.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{184,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,54}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>btn_green_s_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,444},{122,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,54}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>btn_green_s_pr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{122,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,54}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>btn_info_femaleOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,872},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>btn_info_femaleOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,888},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>btn_info_maleOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,836},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>btn_info_maleOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,836},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>btn_recharge_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,556},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{44,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_recharge_pr.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,850},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{46,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_red_l_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,282},{182,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{182,54}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>btn_red_l_pr.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,226},{182,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{182,54}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>btn_red_m_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{154,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,45}}</string>
                <key>sourceSize</key>
                <string>{154,45}</string>
            </dict>
            <key>btn_red_m_pr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{154,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,45}}</string>
                <key>sourceSize</key>
                <string>{154,45}</string>
            </dict>
            <key>btn_red_s_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,432},{122,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,54}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>btn_red_s_pr.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,388},{122,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,54}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>btn_table_headDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,774},{54,60}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{68,94}</string>
            </dict>
            <key>btn_table_headUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,500},{54,92}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{54,92}}</string>
                <key>sourceSize</key>
                <string>{68,94}</string>
            </dict>
            <key>btn_table_top_roomlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,328},{122,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,58}}</string>
                <key>sourceSize</key>
                <string>{122,58}</string>
            </dict>
            <key>icon_activity_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,716},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>icon_activity_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,704},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>icon_firstRecharge_recommend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{90,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{90,68}}</string>
                <key>sourceSize</key>
                <string>{94,70}</string>
            </dict>
            <key>icon_firstRecharge_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>icon_firstRecharge_st.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,428},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{68,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,900},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{46,46}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_hall_left_addFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{32,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_hall_left_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,38},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_hall_left_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,432},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>icon_hall_left_inviteBattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,320},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_hall_right_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,850},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{62,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>icon_hall_right_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,830},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{60,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>icon_hall_right_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,558},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{64,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>icon_hall_right_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,706},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{54,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>icon_hall_roomTwo_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,222},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{42,46}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_hall_top_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,654},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{50,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_hall_top_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,948},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_hall_top_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,912},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{50,52}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_hall_top_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,684},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{56,50}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_idImg_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>icon_info_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,478},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,20}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>icon_info_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,456},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,20}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>icon_msg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,636},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>icon_msg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>icon_msg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,738},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>icon_reward_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,942},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{44,44}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_reward_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,818},{66,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>icon_setting_bgm.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,240},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{34,40}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_setting_ctrlBgm.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,796},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_setting_ctrlVoiceEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,282},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{36,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_setting_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,174},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{42,46}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_setting_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,606},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{44,46}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_setting_voiceEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,940},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{38,44}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_store_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,624},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>icon_store_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,556},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>icon_store_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,658},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>icon_store_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,578},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>icon_store_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,544},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>icon_store_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,498},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>icon_table_bottom_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,892},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_table_bottom_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,942},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_table_bottom_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,942},{52,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_table_bottom_ju_giftOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,174},{34,30}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{34,30}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_table_bottom_ju_giftOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,796},{52,46}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_table_bottom_pokeRec.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,624},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_table_mid_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,808},{62,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{62,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>icon_table_mid_ready_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,892},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{48,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_table_mid_ready_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{48,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_table_right_expression.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,358},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>icon_table_top_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,964},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_table_top_deposit.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,736},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{50,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_table_top_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,964},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{48,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_table_top_roomList_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,108},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_table_top_roomList_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,210},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_table_top_roomList_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,74},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_table_top_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,500},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{52,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,142},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{32,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_vip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,784},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon_vip_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon_vip_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,742},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon_vip_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,676},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon_vip_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,610},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon_vip_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,544},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btn_icons.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:126d96eab4dddd3cc506f0a9803d594d:1/1$</string>
            <key>textureFileName</key>
            <string>btn_icons.png</string>
        </dict>
    </dict>
</plist>
