<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paint_farmar_default_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{94,138}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{94,138}}</string>
                <key>sourceSize</key>
                <string>{100,162}</string>
            </dict>
            <key>paint_farmar_default_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{93,138}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{93,138}}</string>
                <key>sourceSize</key>
                <string>{99,162}</string>
            </dict>
            <key>paint_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{204,238}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{204,238}}</string>
                <key>sourceSize</key>
                <string>{206,240}</string>
            </dict>
            <key>paint_lord_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,222},{96,160}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{100,162}</string>
            </dict>
            <key>text__panel_selfInfo_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{292,24}}</string>
                <key>sourceSize</key>
                <string>{296,26}</string>
            </dict>
            <key>text_blue_xxl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{198,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,16},{198,52}}</string>
                <key>sourceSize</key>
                <string>{288,84}</string>
            </dict>
            <key>text_btn_blue_l_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,494},{126,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{126,34}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>text_btn_blue_l_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,352},{132,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{132,32}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>text_btn_blue_l_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,458},{126,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{126,34}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>text_btn_blue_l_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,600},{122,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,9},{122,34}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>text_btn_blue_l_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,530},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{126,32}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>text_btn_blue_m_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,623},{112,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{112,29}}</string>
                <key>sourceSize</key>
                <string>{154,45}</string>
            </dict>
            <key>text_btn_blue_m_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{110,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{110,29}}</string>
                <key>sourceSize</key>
                <string>{154,45}</string>
            </dict>
            <key>text_btn_blue_m_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,592},{112,29}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{112,29}}</string>
                <key>sourceSize</key>
                <string>{154,45}</string>
            </dict>
            <key>text_btn_blue_m_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,699},{110,29}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{110,29}}</string>
                <key>sourceSize</key>
                <string>{154,45}</string>
            </dict>
            <key>text_btn_blue_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,794},{60,32}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{60,32}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>text_btn_blue_xl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{150,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,14},{150,44}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>text_btn_blue_xl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{166,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,15},{166,44}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>text_btn_green_l_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,422},{126,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{126,34}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>text_btn_green_l_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,520},{94,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,10},{94,32}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>text_btn_green_l_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,630},{120,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,9},{120,34}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>text_btn_green_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,666},{58,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,10},{58,34}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>text_btn_green_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,390},{64,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{64,32}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>text_btn_green_s_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,788},{60,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,12},{60,32}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>text_btn_red_l_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,596},{124,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{124,32}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>text_btn_red_l_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,386},{126,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{126,34}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>text_btn_red_l_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,558},{124,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{124,36}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>text_btn_red_l_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,564},{124,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{124,34}}</string>
                <key>sourceSize</key>
                <string>{184,54}</string>
            </dict>
            <key>text_btn_red_m_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,666},{110,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{110,31}}</string>
                <key>sourceSize</key>
                <string>{154,45}</string>
            </dict>
            <key>text_btn_red_m_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{110,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{110,29}}</string>
                <key>sourceSize</key>
                <string>{154,45}</string>
            </dict>
            <key>text_btn_red_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,356},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{64,32}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>text_btn_red_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,286},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{66,32}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>text_btn_red_s_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,560},{62,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{62,30}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>text_btn_red_s_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,146},{92,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{92,32}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>text_btn_red_s_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,526},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{62,32}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>text_btn_red_s_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,112},{92,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{92,32}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>text_btn_red_s_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,783},{60,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{60,32}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>text_btn_red_s_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,492},{62,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{62,32}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>text_hall_room_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,296},{132,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{132,54}}</string>
                <key>sourceSize</key>
                <string>{144,60}</string>
            </dict>
            <key>text_hall_room_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,242},{134,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{134,52}}</string>
                <key>sourceSize</key>
                <string>{144,60}</string>
            </dict>
            <key>text_panel_title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{194,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{194,56}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
            <key>text_panel_title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{198,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,56}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
            <key>text_panel_title_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,689},{98,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{98,56}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
            <key>text_panel_title_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{184,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{184,50}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
            <key>text_panel_title_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,706},{98,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,4},{98,48}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
            <key>text_panel_title_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{192,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{192,55}}</string>
                <key>sourceSize</key>
                <string>{200,55}</string>
            </dict>
            <key>text_panel_title_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{200,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{200,52}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
            <key>text_tab_activity_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,736},{45,40}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{45,40}}</string>
                <key>sourceSize</key>
                <string>{75,66}</string>
            </dict>
            <key>text_tab_activity_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,689},{45,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{45,40}}</string>
                <key>sourceSize</key>
                <string>{75,66}</string>
            </dict>
            <key>text_tab_firstReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{110,33}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{110,33}}</string>
                <key>sourceSize</key>
                <string>{162,73}</string>
            </dict>
            <key>text_tab_hall_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,361},{95,26}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{95,26}}</string>
                <key>sourceSize</key>
                <string>{115,44}</string>
            </dict>
            <key>text_tab_hall_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,453},{95,22}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{95,22}}</string>
                <key>sourceSize</key>
                <string>{115,44}</string>
            </dict>
            <key>text_tab_help_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,654},{110,33}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{110,33}}</string>
                <key>sourceSize</key>
                <string>{162,73}</string>
            </dict>
            <key>text_tab_help_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,636},{110,35}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{110,35}}</string>
                <key>sourceSize</key>
                <string>{162,73}</string>
            </dict>
            <key>text_tab_help_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,726},{60,33}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,20},{60,33}}</string>
                <key>sourceSize</key>
                <string>{162,73}</string>
            </dict>
            <key>text_tab_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,673},{102,31}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{102,31}}</string>
                <key>sourceSize</key>
                <string>{162,73}</string>
            </dict>
            <key>text_table_mid_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,458},{62,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{62,32}}</string>
                <key>sourceSize</key>
                <string>{94,34}</string>
            </dict>
            <key>text_table_mid_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,484},{94,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,34}}</string>
                <key>sourceSize</key>
                <string>{94,34}</string>
            </dict>
            <key>text_table_mid_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,424},{62,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{62,32}}</string>
                <key>sourceSize</key>
                <string>{94,34}</string>
            </dict>
            <key>text_table_mid_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,448},{94,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,34}}</string>
                <key>sourceSize</key>
                <string>{94,34}</string>
            </dict>
            <key>text_table_mid_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,320},{64,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{94,34}</string>
            </dict>
            <key>text_table_top_btn_roomList_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,730},{98,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{98,32}}</string>
                <key>sourceSize</key>
                <string>{122,58}</string>
            </dict>
            <key>text_table_top_btn_roomList_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{98,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{98,30}}</string>
                <key>sourceSize</key>
                <string>{122,58}</string>
            </dict>
            <key>text_table_top_btn_roomList_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,781},{98,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{98,32}}</string>
                <key>sourceSize</key>
                <string>{122,58}</string>
            </dict>
            <key>text_table_top_btn_roomList_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{98,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{98,28}}</string>
                <key>sourceSize</key>
                <string>{122,58}</string>
            </dict>
            <key>text_table_top_btn_roomList_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,416},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{96,30}}</string>
                <key>sourceSize</key>
                <string>{122,58}</string>
            </dict>
            <key>text_table_top_roomList_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,756},{98,32}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{98,32}}</string>
                <key>sourceSize</key>
                <string>{122,58}</string>
            </dict>
            <key>text_table_top_roomList_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,458},{98,30}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{98,30}}</string>
                <key>sourceSize</key>
                <string>{122,58}</string>
            </dict>
            <key>text_table_top_roomList_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,747},{98,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{98,32}}</string>
                <key>sourceSize</key>
                <string>{122,58}</string>
            </dict>
            <key>text_table_top_roomList_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,764},{98,28}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{98,28}}</string>
                <key>sourceSize</key>
                <string>{122,58}</string>
            </dict>
            <key>text_table_top_roomList_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,384},{96,30}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{96,30}}</string>
                <key>sourceSize</key>
                <string>{122,58}</string>
            </dict>
            <key>text_tittle_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,28},{86,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,38}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>text_tittle_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,68},{82,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{82,42}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>text_tittle_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,180},{80,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{80,40}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>text_tittle_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,242},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{78,42}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paint_text.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:690ba868555aa79cdc0422f4ab4def6b:1/1$</string>
            <key>textureFileName</key>
            <string>paint_text.png</string>
        </dict>
    </dict>
</plist>
